//VARIABLES
$font-size:1em;
$varela: 'Varela', sans-serif;
$righteous: 'Righteous', sans-serif;
$montserrat: 'Montserrat', san-serif;
$main-font: $varela;
$heading-font: $righteous;
$standard-font-size: 18px;

// COLOR SCHEME Pears Soap: http://www.colourlovers.com/palette/1709569/Pears_Soap_RC
$salmon: rgb(219,182,163);
$tan: rgb(198,124,61);
$orange: rgb(182,73,2);
$red: rgb(127,42,11);
$purple: rgb(55,39,42);

$html-color: $salmon;
$container-color: $tan;
$main-font-color: $purple;
$border-color: $main-font-color;
$table-color: $main-font-color;
$table-header-color: darken($main-font-color,20%);
$table-header-background: darken($container-color, 10%);
$header-color: $purple;
$header-font-color: $orange;
$header-link-color: darken($salmon,10%);
$footer-color: $purple;
$footer-font-color: $header-link-color;
$footer-link-color: $orange;
$link-color: darken($red,6%);
$link-font: $montserrat;
$nav-link-color: $header-link-color;
$heading-font-color: lighten($purple,10%);


//General and mobile settings
html, body {
  //main colors and fonts
  font-family: $main-font;
  font-size: $standard-font-size;
  line-height: $standard-font-size + 4px;
  font-weight: 600;
  
  background: $html-color;
  .grid{
    background: $container-color; 
    color:$main-font-color;
    border: 2px solid $border-color;
  }
  
    a{ 
      font-family: $link-font;
      font-weight:700;
      color: $link-color;
    }  
  
  blockquote{
    font-size: $standard-font-size + 2px;
    line-height: $standard-font-size + 6px;
    font-style: italic;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover{
    text-decoration: underline;
  }
  ul{ 
    list-style: none;
    li {
      margin: 10px 0;
    }
  }
}

.bump-down{margin-top: 60px;}
.bump-left{margin-left:30px;}

h1, h2, h3, h4, #menu_widget table.beermenu caption {
  font-family: $heading-font;
  font-weight:200;
  color: $heading-font-color;
}
h1{
  font-size: $standard-font-size + 16px;
  line-height: $standard-font-size + 14px;
}
h2{
  font-size: $standard-font-size + 12px;
  line-height: $standard-font-size + 10px;
}
h3{
  font-size: $standard-font-size + 8px;
  line-height: $standard-font-size + 6px;
}
img {max-width:100%;}
.col-right{text-align:right;}

//HEADER
  header .header, header .header h1 a, nav {color: $container-color;}
  header .header{
    background: $header-color;
    a {
      color: $header-link-color;
      font-weight:200;
    }
    h1 a, p {color: $header-font-color;}
    h1 a {
      font-family: $heading-font; 
      font-weight:900;
    }
  } 
header {
  h1{
    font-size: $standard-font-size + 60px;
    line-height: $standard-font-size + 50px;
  }
  h1 a:hover{text-decoration:none;}
  p {
    font-size: $standard-font-size + 2px;
    margin:20px;
  }
  text-align:center;
  .col-right{text-align:center;  padding: 0 0 10px 0;}
}

//NAVIGATION  
nav{ 
  margin-top:0;
  background: rgba($header-color,.7);
  a {
    display:block;
    margin: 0 0 0 30%;
    padding: 8px 14px;
    color: $nav-link-color;
  }
  a:hover{background: rgba($header-color,1); text-decoration:none;} 
}
  .nav{ // have background image resize with screen
    background-color: $main-font-color;    
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 28.58%; /* (img-height 1200 / img-width * 343 container-width) */   
    margin: 0 0 200px 0;
  } 
  .nav-fix{
    padding:0;
    margin: -2px 0 0 0;
  }  

#home .nav{
    background-image: url('../images/pool-and-game.jpg');  
}
#on-tap .nav{
    background-image: url('../images/taps.jpg');  
}
#events .nav{
    background-image: url('../images/patio.jpg');  
}
#pool .nav{
    background-image: url('../images/pool-table.jpg');  
}
#bands .nav{
    background-image: url('../images/bar.jpg');  
}

//FOOTER
footer{
text-align:center;
  .hours{
   padding: 20px 0;
  }
  .icons{
    clear:both;
  }
  .footer {
    background: $footer-color;
    color: $footer-font-color;
    font-size: $standard-font-size;
    font-weight: 100;
    p{margin:0;}
    a {color: $footer-link-color; font-weight: 100;}
    .credits{font-size: $standard-font-size - 2px;}
  }
}

// Specials
.specials{ 
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;  
  li{
    .cal-date {
      display:block;
      font-weight:800;      
    }
    .cal-title{
      display:block;
    }
    .cal-desc{
      font-size: $standard-font-size - 2px;
      display:block;
    }
    margin: 20px 0;
  }
  li:first-child{
    .cal-date{
      //font-family: $heading-font;
      font-size:$standard-font-size + 6px;
    }
  }  
}

// events
.events{
  padding: 10px 0 0 0;
  font-size: $standard-font-size;
  line-height:$standard-font-size + 4px;
  li {
    margin: 20px 0 40px 0;
    .cal-date, .cal-title{
      display:inline-block;
      font-size: $standard-font-size + 8px;
      font-family: $heading-font;
      font-weight: normal;
      color: $heading-font-color;
    }
    .cal-date{
      color: $footer-color;
      font-size: $standard-font-size + 4px;
    }
    .cal-desc{
      display:block;
    }
  }
}

///// Beers (what's on tap) page
.hide, .updated-at, .serving-types, #feedly-mini {display:none;} //generic hide plus unwanted beermenus items
  .grid #menu_widget {
    margin: 0 auto;
    table.beermenu {
      caption{
        font-size: $standard-font-size + 16px;
        font-weight:200;
      }
      color: $table-color;
      th {
        background: $table-header-background;
        color: $table-header-color;
        border:4px solid $table-header-background;
        text-transform: none;
        font-weight: 600;
      }
      .beer-descriptions td.beer-description{
        border:none;
        border-bottom: 1px solid darken($container-color, 20%);
      }
      .strong{font-size: $standard-font-size + 2px;}
    }
  }

#beer-sub-nav {
  margin: 0;
  li{
  cursor:pointer;
  display:inline-block;
  padding: 8px 10px;
  margin:0;
  font-size:$standard-font-size -2px;
  }
  li.active{
    font-size:$standard-font-size + 4px;
    color: $heading-font-color;
  }
 
}

#menu-widget #beer_menu{
  #red_wine th.serving, #red_wine td.serving, #white_wine th.serving, #white_wine td.serving, #wine th.serving, #wine td.serving { // hide vessel for wine
      display: none;
  }
}


//// MEDIA QUERIES

@media only screen and (max-width: 400px){
	/* Force table to not be like tables anymore 
  https://css-tricks.com/responsive-data-tables */
  #beer-sub-nav{
    li {
      display: block;
      width: 80%;
      margin: 10px 10%;
    }
    li:last-child{margin-bottom:40px;}
  }
	 #menu_widget{
    table.beermenu{
      display: block; 
           /* Hide table headers (but not display: none;, for accessibility) */  
      thead, tbody, th, td, tr, caption { 
        display: block; 
      }
      thead {
        th{
          font-size: $standard-font-size - 4px;
          display: inline;
          float:left;
          width:25%;
        }
      }
      td:first-child{
        clear:both;
      }
      span.strong{
        text-transform: uppercase;
         font-size: $standard-font-size + 2px;
      }
    }

	} // end widget 
}

@media only screen and (max-width: 1139px) {
  html body .grid{
    header .header{
      background: $container-color;
      a {
        color: $link-color;
      }
      h1 a, p {color: $main-font-color;}
      h1 a {font-weight:600;}
    } 
    nav {
      a:hover{
        background: none;
        color: $main-font-color;
      }
    }
  }
}

@media only screen and (min-width: 1140px) {
  header{
    h1 {line-height: $standard-font-size;}
    text-align:left;
    .col-right{text-align:right;}
    p {margin:2px;}
    #cary {margin-left:40px;}
  }  
  .nav {
    margin: 0;
    nav {
      margin-top: -326px;
//      background:yellow;
      a{
        display:inline-block;
        margin: 0 0 0 7%;
      }
    }
  }
  
  footer{
    .hours{
     text-align: left;  
     padding: 20px;
    }
    .icons{
      float:right;
      padding-top:20px;
    }
  }  
  
  .events li .cal-title{
      display: inline-block;
      margin-left: 10px;
    }  
    
  #beer-sub-nav li { margin: 10px 0 40px 3%;}
  body .grid #menu_widget {
    width: 100%;
    margin: 0 0 0 20px;
    .active table.beermenu{
      width: 1000px;
    }
  }
  
  // Specials
  .specials{ 
    li{
      .cal-date {
        display: inline-block;
        width: 160px;    
      }
      .cal-title{display: inline-block;}
      .cal-desc{
        font-size: $standard-font-size - 2px;
      }
    }
  }  
  
}


