//variables
$fontSize:1em;
$varela: 'Varela', sans-serif;
$righteous: 'Righteous', sans-serif;
$mainFont: $varela;
$headerFont: $righteous; 

// test colors
.container{background:pink;}
header{background:gray;}
#main{background:lightBlue;}
footer{background:yellow;}

//Kuler photo colors
//Dark
$purple: #3D2937;
$tan: #71632F;
$brown: #592C17;
$dkBrown: #26160C;
$red: #731010;

//Deep
$fuschia: #8E256F;
$tan: #73602D;
$brown: #582B17;
$red: #740F0F;
$black: #0D0C10;
// possibly this with purple instead of fuschia

//background image ideas:
// https://css-tricks.com/how-to-resizeable-background-image/

/*
(element){  
  background-color: white;  
  background-image: url("example.png");  
  background-repeat: no-repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;
  background-size: contain;
}

*/

//General/mobile settings
img {max-width:100%;}
.nav{
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 35.08%; /* (img-height / img-width * container-width) */   
}
#home .nav{
    background-image: url('../images/bar-top.jpg');  
}

nav{ 
  margin-top:0;
  a {
    padding: 10px 20px;
  }
}  
@media only screen and (min-width: 1140px) {  
  nav {
    margin-top: -380px;
    a{
      margin: 0 0 0 7%;
    }
  }
}