//variables
$fontSize:1em;
$varela: 'Varela', sans-serif;
$righteous: 'Righteous', sans-serif;
$mainFont: $varela;
$headerFont: $righteous; 

// test colors
.container{background:pink;}
header{background:lime;}
#main{background:lightBlue;}
footer{background:yellow;}

//Kuler photo colors
//Dark
$purple: #3D2937;
$tan: #71632F;
$brown: #592C17;
$dkBrown: #26160C;
$red: #731010;

//Deep
$fuschia: #8E256F;
$tan: #73602D;
$brown: #582B17;
$red: #740F0F;
$black: #0D0C10;
// possibly this with purple instead of fuschia

//background image ideas:
// https://css-tricks.com/how-to-resizeable-background-image/

/*
(element){  
  background-color: white;  
  background-image: url("example.png");  
  background-repeat: no-repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;
  background-size: contain;
}

*/

//General/mobile settings
img {max-width:100%;}
.float-left{float:left;}
.float-right{float:right;}
.clear {clear:both;}
.column{
  padding: 1em 2em;
}

html{
  padding:2%;
  a{text-decoration:none;}
  font-size:$fontSize;
  ul{list-style: none;}
  font-family: $mainFont;
  h1, h2, h3, h4, nav li{
    font-family: $headerFont;
  }
}
header{
  padding: 2em 1em;
  img{
    display:none;
    margin: 0 auto;
  }
  h1{
    text-align:center; 
    font-size:4em;
    line-height:1em;
  }
  p {
    margin: .2em auto;
    width: 12em;
    font-size:1.2em;
    //margin:0 0 0 20%;
  }
}

nav{
  li {
    font-size:1.4em;
    text-align: center;
    float:left;
    margin: 14px 10px 14px 70px;
    a {
      padding: 4px 10px;
    }
  }
}

#main{ // main container
  clear:both;
}

footer{text-align:center;}

///// Now Serving page
.hide, .updated-at, .serving-types, #feedly-mini {display:none;} //generic hide plus unwanted beermenus items


#beer-sub-nav {
  li{
  cursor:pointer;
  }
  li.active{
    font-size: 1.3em;
  }
 
}

#beer_menu, #beer_menu a:last-child {
  font-size: .8em;
  color:grey; // diminish beermenus link text
  span{
    font-size: 1em; 
    color:green; // regular color text
  }
  #red_wine th.serving, #red_wine td.serving, #white_wine th.serving, #white_wine td.serving, #wine th.serving, #wine td.serving { // hide vessel for wine
      display: none;
  }
}


@media only screen and (min-device-width: 600px) {
  header{
    img{display:block;}
  }
  #home{
    .column{
      width: 56%;
      float:left;
    }
    .column + .column{
      width: 34%;
    }
  }
}


@media only screen and (min-device-width: 1024px) {
  header{

  }
}