/* line 9, ../scss/main.scss */
.container {
  background: pink;
}

/* line 10, ../scss/main.scss */
header {
  background: gray;
}

/* line 11, ../scss/main.scss */
#main {
  background: lightBlue;
}

/* line 12, ../scss/main.scss */
footer {
  background: yellow;
}

/*
(element){  
  background-color: white;  
  background-image: url("example.png");  
  background-repeat: no-repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;
  background-size: contain;
}

*/
/* line 46, ../scss/main.scss */
img {
  max-width: 100%;
}

/* line 47, ../scss/main.scss */
.nav {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 35.08%;
  /* (img-height / img-width * container-width) */
}

/* line 54, ../scss/main.scss */
#home .nav {
  background-image: url("../images/bar-top.jpg");
}

/* line 58, ../scss/main.scss */
nav {
  margin-top: 0;
}
/* line 60, ../scss/main.scss */
nav a {
  padding: 10px 20px;
}

/* line 66, ../scss/main.scss */
.hide, .updated-at, .serving-types, #feedly-mini {
  display: none;
}

/* line 70, ../scss/main.scss */
#beer-sub-nav li {
  cursor: pointer;
}
/* line 73, ../scss/main.scss */
#beer-sub-nav li.active {
  font-size: 1.3em;
}

/* line 79, ../scss/main.scss */
#beer_menu, #beer_menu a:last-child {
  font-size: .8em;
  color: grey;
}
/* line 82, ../scss/main.scss */
#beer_menu span, #beer_menu a:last-child span {
  font-size: 1em;
  color: green;
}
/* line 86, ../scss/main.scss */
#beer_menu #red_wine th.serving, #beer_menu #red_wine td.serving, #beer_menu #white_wine th.serving, #beer_menu #white_wine td.serving, #beer_menu #wine th.serving, #beer_menu #wine td.serving, #beer_menu a:last-child #red_wine th.serving, #beer_menu a:last-child #red_wine td.serving, #beer_menu a:last-child #white_wine th.serving, #beer_menu a:last-child #white_wine td.serving, #beer_menu a:last-child #wine th.serving, #beer_menu a:last-child #wine td.serving {
  display: none;
}

@media only screen and (min-width: 1140px) {
  /* line 93, ../scss/main.scss */
  nav {
    margin-top: -380px;
  }
  /* line 95, ../scss/main.scss */
  nav a {
    margin: 0 0 0 7%;
  }
}
