/* line 1, ../scss/main.scss */
.hide, .updated-at, .serving-types, #feedly-mini {
  display: none;
}

/* line 4, ../scss/main.scss */
#beer-sub-nav li {
  cursor: pointer;
}
/* line 7, ../scss/main.scss */
#beer-sub-nav li.active {
  font-size: 1.3em;
}

/* line 13, ../scss/main.scss */
#beer_menu, #beer_menu a:last-child {
  font-size: .8em;
  color: grey;
}
/* line 16, ../scss/main.scss */
#beer_menu span, #beer_menu a:last-child span {
  font-size: 1em;
  color: green;
}
/* line 20, ../scss/main.scss */
#beer_menu #wine th.serving, #beer_menu #wine td.serving, #beer_menu a:last-child #wine th.serving, #beer_menu a:last-child #wine td.serving {
  display: none;
}
